In [16]:
import pandas as pd
import snowflake.snowpark.functions as F
from snowflake.snowpark.functions import col 
from snowflake.ml.modeling.xgboost import XGBRegressor
import snowflake.snowpark as snowpark
from snowflake.snowpark import Session

In [12]:
connection_parameters = {
    "account": "auffckh-zp48025",        # 예: xy12345.ap-northeast-2
    "user": "jinoo13",          # 예: JIN
    "password": "Bbodong2zzang!",
    "role": "ACCOUNTADMIN",              # 예: SYSADMIN
    "warehouse": "PO3_WH",    # 예: COMPUTE_WH
    "database": "PO3",
    "schema": "POPULATION"
}

In [ ]:
session = Session.builder.configs(connection_parameters).create()
df = session.table('PO3.POPULATION.SNOWPARK_TEST').select(
    col("TOTAL_HOUSEHOLDS").cast("FLOAT").alias("TOTAL_HOUSEHOLDS"),
    col("JEONSE_PRICE_PER_SUPPLY_PYEONG").cast("FLOAT").alias("JEONSE_PRICE_PER_SUPPLY_PYEONG"),
    col("MEME_PRICE_PER_SUPPLY_PYEONG").cast("FLOAT").alias("MEME_PRICE_PER_SUPPLY_PYEONG")
).na.drop()

In [22]:
df = df.with_column('test', F.concat(F.substr('TOTAL_HOUSEHOLDS', 1, 3), F.lit('test')))
df = df.withColumnRenamed("TEST", "reanme")

In [25]:
df

In [23]:
df.show()

-----------------------------------------------------------------------------------------------------
|"TOTAL_HOUSEHOLDS"  |"JEONSE_PRICE_PER_SUPPLY_PYEONG"  |"MEME_PRICE_PER_SUPPLY_PYEONG"  |"REANME"  |
-----------------------------------------------------------------------------------------------------
|6360.0              |2388.534135423                    |5767.714259396                  |636test   |
|7117.0              |2762.249304368                    |6936.427637321                  |711test   |
|7117.0              |2703.989579748                    |6719.954234332                  |711test   |
|6360.0              |2694.159093293                    |7130.08462522                   |636test   |
|6360.0              |2652.465960546                    |7206.283309731                  |636test   |
|6360.0              |2580.479918717                    |7098.366359179                  |636test   |
|6360.0              |2554.512655531                    |6820.978447353                  |636test   |
|7117.0              |2852.745891018                    |7506.311770835                  |711test   |
|5158.0              |2235.377435056                    |5061.905220945                  |515test   |
|6360.0              |2376.578550293                    |5831.015139773                  |636test   |
-----------------------------------------------------------------------------------------------------

In [27]:
df_test = df.to_pandas()
print(type(df_test))

<class 'pandas.core.frame.DataFrame'>

In [29]:
session.create_dataframe(df_test).show()

-----------------------------------------------------------------------------------------------------
|"TOTAL_HOUSEHOLDS"  |"JEONSE_PRICE_PER_SUPPLY_PYEONG"  |"MEME_PRICE_PER_SUPPLY_PYEONG"  |"REANME"  |
-----------------------------------------------------------------------------------------------------
|6360.0              |2388.534135423                    |5767.714259396                  |636test   |
|7117.0              |2762.249304368                    |6936.427637321                  |711test   |
|7117.0              |2703.989579748                    |6719.954234332                  |711test   |
|6360.0              |2694.159093293                    |7130.08462522                   |636test   |
|6360.0              |2652.465960546                    |7206.283309731                  |636test   |
|6360.0              |2580.479918717                    |7098.366359179                  |636test   |
|6360.0              |2554.512655531                    |6820.978447353                  |636test   |
|7117.0              |2852.745891018                    |7506.311770835                  |711test   |
|5158.0              |2235.377435056                    |5061.905220945                  |515test   |
|6360.0              |2376.578550293                    |5831.015139773                  |636test   |
-----------------------------------------------------------------------------------------------------